/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

/*** Global css ***/


:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --spacial-color: blue;
    --shadow-color: rgba(0, 0, 0, .2);
}


/* btn */

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 1.1rem 2.8rem;
    border-radius: 2px;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    border: .2rem solid transparent;
    font-size: 1.2rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s;
}

.btn a {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


/*** Header css ***/
.logo {

    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 500;
    cursor: default;
    margin-right: auto;
}

/* menu  */

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: auto;
}

header nav .logo {
    font-size: 35px;
    color: #fff;
    font-weight: 700;
}

header nav .logo span {
    color: #0099bd;
}

header nav .nav-links a {
    color: var(--text-color);
    font-size: 18px;
    margin-left: 35px;
    text-transform: capitalize;
    transition: 0.4s;
}

header nav .nav-links a:hover {
    color: #0099bd;
}

#btnM {
    display: none;
    font-size: 30px;
}



/* menu  */



/*** Header css ***/


.title {
    text-align: center;
    margin: 100px 0px;
    font-size: 30px;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}


main {
    margin-top: 100px;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    color: #000000;


}

/* feature css start */

.feature {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.feature .single-feature {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.feature .single-feature:hover {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.single-feature .img {
    width: 90%;
    padding: 10px 14px;
    border-radius: 10px;
}

.feature-desc {
    text-align: start;
    padding: 5px 10px;
}

.feature-desc h3 {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.feature-desc h4 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}

.feature-desc p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13.3675px;
    line-height: 15px;
    color: #000000;

}

.feature-desc span {
    margin-left: 20px;
}

.feature-desc span .bx {
    width: 19px;
    height: 20px;
}

.feature-desc a {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

/* feature css end */

.gifts-feature {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

    margin-top: 40px;
}

.single-gifts-feature {
    position: relative;
}

.single-gifts-feature img {
    width: 100%;
}

.gifts-feature-description {
    position: absolute;
    left: 42px;
    bottom: 50px;
}

.gifts-feature-description h2 {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 0px;
    color: #FFFFFF;
}

.gifts-feature-description p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #FFFFFF;
}